//neutral colors
$white: #fff;
$nearWhite: #efefef;
$lightGrey: #ddd;
$grey: #ccc;
$darkGrey: #4c4c4c;
$black: #000;

//primary colors
$blue: blue;
$red: red;
$yellow: yellow;

//blue color variations
$brightBlue: #00AAff;
  $midBlue: #006EFF;
$lessDeepBlue: #2B3284;
$deepBlue: #1f235d;
$nightBlue: #1b1f38;

//yellow variations
$moonGlowYellow: #f1f4ba;

$moonLight: $lightGrey;

//links
$linkPrimary: $darkGrey;
$linkHover: $brightBlue;
$linkVisited: $blue;
