/*TODO: Refactor as this is a mess*/
@import 'partials/_typography';
@import 'partials/_colors';

//links
$linkPrimary: $darkGrey;
$linkHover: $brightBlue;
$linkVisited: $blue;

a {
  color: $darkGrey;
  &:hover {
    color: $brightBlue;
    text-decoration: none;
  }
}
section {
  margin-bottom: 1%;
  border-bottom: 1px solid $nearWhite;
}
body {
  background-color: $white;
  /*padding top because navbar is fixed position and overlaps content*/
  padding-top: 90px;
}
.outline {
  display: none;
}
.sectionHeader {
  margin-bottom: 3%;
}
.elem-center {
  margin-left: 0 auto;
}
.moon{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 1%;
  background-color: $deepBlue;
  transition: background-color 2s ease;
}
.right-shade{
  background-color: $deepBlue;
  border-right-color: $grey;
  border-right-style: solid;
  border-left-style: none;
}
.left-shade{
  background-color: $grey;
  border-left-color: $deepBlue;
  border-left-style: solid;
  border-right-style: none;
}
.navbar button.navbar-toggle{
  margin-left: 1%;
  margin-right: 4%;
  padding: 5px;
}
.my-nav-style {
  background-color: $white;
  border-style: none;
  text-align: center;
  a {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
}
.my-main-banner {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: $darkGrey;
  border-bottom: 2px solid $grey;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-bottom: 1%;
  h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 200;
  }
}
.txt-over-img {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: inherit;
  padding: 5%;
  color: $white;
  a{
    color: $brightBlue;
    &:hover{
      color: $black;
    }
  }
}
.my-form input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
}
.my-form button {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}
.my-portfolio-grid div {
  margin-bottom: 2%;
}
.back-to-top-wrapper {
  text-align: center;
  cursor: pointer;
  margin-bottom: 1%;
  span {
    margin-left: 1%;
    font-size: 24px;
    color: $grey;
  }
}
.back-to-top {
  background-color: $lightGrey;
  color: $white;
  padding: 0.5%;
  font-size: 20px;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
}
.list-social-media {
  list-style: none;
  text-align: center;
  li {
    display: inline;
    margin-right: 1%;
  }
  i {
    line-height: 50px;
  }
}
.btn-round {
  border-radius: 50%;
  background-color: $darkGrey;
  color: $white;
  width: 50px;
  height: 50px;
}
.footer-credits {
  color: $grey;
}
.my-text-shadow {
  text-shadow: 1px 1px $darkGrey;
}
/*override boostrap btn-primary style*/
.btn-primary {
  background-color: $brightBlue;
}
/* Added to prevent my fixed position navbar from overlapping content when 'back to top' link is used */
.top-target{
  position: relative;
  top: -250px;
  visibility: hidden;
}
.fixed-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  min-height: 25%;
}
/* Small devices can't handle the bg-attachment fixed, so on those devices use 'scroll' */
@media (max-width: 1024px) {
  .fixed-background{
    background-attachment: scroll;
  }
}
#about{
  background-image: url('../img/matherMe.jpg');
}
#portfolioNavBar{
  background: none;
}
/*goofy fun with css hover events and such. trivial*/
/*#moon>h3{
  color: $brightBlue;
  cursor: pointer;
  position: relative;
  left: 25%;
  opacity: 0;
  transition: opacity 1s ease;
}

#moon:hover>h3{
  opacity: 1;
}

#moon ~p#moonHelpText {
  position: absolute;
  left: 50%;
  margin-left: -10%;
  background-color: $black;
  color: $white;
  opacity: 0;
  transition: opacity 1s ease;
  padding: 1%;
  z-index: 1;
}*/

/*#moon:hover ~p#moonHelpText{
  opacity: 1;
}*/
