/*TODO: Refactor as this is a mess*/
@import 'partials/_typography';
@import 'partials/_colors';
@import 'partials/_mixins';
a {
  color: $darkGrey;
  &:hover {
    color: $brightBlue;
    text-decoration: none;
  }
}
section {
  margin-bottom: 1%;
  border-bottom: 1px solid $nearWhite;
}
body {
  background-color: $nearWhite;
  /*padding top because navbar is fixed position and overlaps content*/
  padding-top: 80px;
}
.outline {
  display: none;
}
.sectionHeader {
  margin-bottom: 1%;
  background-color: #B3B3B3;
  color: $nearWhite;
  padding: 5px;
  text-align: center;
}
.elem-center {
  margin-left: 0 auto;
}
.moon{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 1%;
  @include radial-gradient($lessDeepBlue, $deepBlue);
  // background-color: $deepBlue;
  transition: border 2s ease;
  border-right: 18px solid $moonLight;
}
.right-shade{
  @include radial-gradient($lessDeepBlue, $deepBlue);
  // background-color: $deepBlue;
  border-right-color: $moonLight;
  border-right-style: solid;
  border-left-style: none;
}
.left-shade{
  background-color: $moonLight;
  border-left-color: $deepBlue;
  border-left-style: solid;
  border-right-style: none;
}
.my-nav-style {
  background-color: $white;
  border-style: none;
  text-align: center;
  a {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  box-shadow: 0 0 10px 1px $darkGrey;
}
.my-sub-nav-style {
  text-align: center;
  background: none;
  box-shadow: none;
  border: none;
  a {
    font-size: 18px;
  }
}
.my-main-banner {
  font-family: $helveticaNeueThin;
  color: $darkGrey;
  border-bottom: 2px solid $grey;
  // margin-bottom: 1%;
  // margin-top: 1%;
  padding-bottom: 1%;
  h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 200;
  }
  button.navbar-toggle {
    margin-top: 22px;
  }
}
.txt-over-img {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100%;
  padding: 5%;
  color: $white;
  a{
    color: $brightBlue;
    &:hover{
      color: $grey;
    }
  }
}
.my-form input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}
.my-form button {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}
.my-portfolio-grid div {
  margin-bottom: 2%;
}
.back-to-top-wrapper {
  text-align: center;
  cursor: pointer;
  margin-top: 8%;
  margin-bottom: 1%;
  span {
    margin-left: 1%;
    font-size: 24px;
    color: $grey;
  }
}
.back-to-top {
  background-color: $lightGrey;
  color: $white;
  padding: 0.5%;
  font-size: 20px;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
}
.list-social-media {
  list-style: none;
  text-align: center;
  padding-left: 0;
  li {
    display: inline;
    margin-right: 1%;
  }
  i {
    line-height: 50px;
  }
}
.btn-round {
  border-radius: 50%;
  color: $white;
  width: 50px;
  height: 50px;
}
.footer-credits {
  color: $grey;
}
.my-text-shadow {
  text-shadow: 1px 1px $darkGrey;
}
/*override boostrap btn-primary style*/
.btn-primary {
  background-color: $brightBlue;
  border: none;
}
/* Added to prevent my fixed position navbar from overlapping content when 'back to top' link is used */
.top-target{
  position: relative;
  top: -250px;
  visibility: hidden;
}
.fixed-background {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: right;
}
.fa-flickr{
  background-color: $black;
}
.fa-linkedin{
  background-color: $linkedIn;
}
.fa-github{
  background-color: $white;
  color: black;
}
#about{
  background-image: url('../img/matherMe_small.jpg');
}
#webPortfolio{
  display: none;
}
#portfolioNav {
  display: none;
  label{
    margin-left: 2%;
    cursor: pointer;
  }
  .glyphicon {
    font-size: 24px;
    vertical-align: sub;
  }

}
// iOS safari can't handle the bg-attachment fixed, so on those devices use 'scroll'
@media (min-width: 1025px){
  .fixed-background{
    background-attachment: fixed;
    height: 700px;
  }
  #about {
    background-image: url('../img/matherMe.jpg');
  }
}
// should cover tablets thru desktops
@media (min-width: 768px){
  .hidden-xs {
    display: inline-block;
    width: 42%;
    float: right;
    margin-top: 2%;
    li {
      display: inline-block;
      margin-right: 4%;
    }
  }
  .my-nav-style {
    text-align: left;
    a.logo-nav{
      margin-left: 10%;
    }
  }
}
//edge case for super thin screens
@media (max-width: 321px){
  .moon{
    width:48px;
    height:48px;
  }
  .my-main-banner h1 {
    font-size: 30px;
  }
  #mainNavSmall a, #portfolioNav label{
    font-size: 15px;
  }
}
@media print {
  .my-nav-style, .back-to-top-wrapper, .my-form {
    display: none;
  }
  .fixed-background {
    height: auto;
  }
  .txt-over-img{
    padding: 0;
  }
  #about{
    background-image: none;
  }
}
// Hide unfinished, weak sections
#portfolioNav, li .fa-github, .my-form {
  display: none!important;
}
